.card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  padding: 20px;
  background-color: rgb(99, 186, 212);
  box-shadow: -24px 20px 42px 1px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: -24px 20px 42px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: -24px 20px 42px 1px rgba(0, 0, 0, 0.26);
  margin-top: 40px;
  border-radius: 10px;
}
